.categories-container {
    display: flex;
    overflow-y: auto;
    height: auto;
    color: black;
    flex-direction: row;
  }
  
  @media (min-width: 768px) {
    .categories-container {
      height: 95%;
      flex-direction: column;
    }
  }
  
  .category-btn {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 5px 0;
    background: transparent;
    border: none;
    color: black;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .category-btn.selected {
    background-color: #FC1503;
  }
  
  .category-btn:hover {
    background-color: rgba(252, 21, 3, 0.7);
  }
  
  .category-icon {
    margin-right: 15px;
  }
  
  .category-name {
    display: inline-block;
  }
  